<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body>
	<div class="container">
		<div class="row"><div class="col-sm-12">
		<!--<center><h3>Contact List</h3></center> -->
		</div></div>
		<div class="row">
		<div class="col-sm" style="background-color:#ccfff2; margin-top:5%; margin-left:37%;box-shadow: 3px 3px 2px 3px #888888; padding-top:10px">
		{% block body %}
        {% endblock %}
		</div>
		<div class="col-sm" style="margin-top:5%">
		{% block content %}
		{% endblock %}
		</div>
		
		</div>
	</div>
    </body>
</html>